*{
  text-align: center;
  font-weight: bold;
}
.header{
  padding: 2vw;
  color: aquamarine;
  background-color: black;
  font-size: 2.2vw;
}
.body{
  color: black;
  background-color: aquamarine;
  padding: 2vw;
  height: 45vh;
  font-size: 2vw;
}
.area{
  display: grid;
  margin-left: 35vw;
  margin-right: 35vw;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}
.hr,.min,.sec,.ms{
  width: auto;
  padding: 0.5vw;
  font-size: 2vw;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.356);
  background: transparent;
}
.ms{
  background-color: thistle;
}
button{
  padding: 1vw;
  margin: 0.5vw;
  width: 5vw;
  color: aqua;
  background-color: black;
  border-radius: 0.4vw;
  cursor: pointer;
}
button:hover{
  width: 5.5vw;
  padding: 1.1vw;
  border:2px solid black;
  color: black;
  background-color: aqua;
  box-shadow: 0.1vw 0.2vw 0.2vw 0 black;
}